@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    
   
  }
  
  :hover::-webkit-scrollbar {
    width: 3px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid #1fbed6;
    background-color: white;
  }
  
  input[type="radio"]:focus {
    /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
  }
  
  input[type="radio"]:checked {
    /*no need, if you don't disable default appearance*/
    background-color: #1fbed6;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  